{% extends "layout.html" %}
{% block content %}
    <br><br>
    <div class="text-center">
        <h1>{{ artist }}</h1>
        <h5>
            {% for genre in genres %}
                {{ genre }}
                {% if loop.index0 < genres|length - 1 %}
                        -
                {% endif %}
            {% endfor %}
        </h5>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <img src="{{ image_link }}" height="250px" width="250px">
    </div>

{% endblock content %}