{% extends "layout.html" %}
{% block content %}
    <br><br>
    <div class="text-center">
            <h1>{{ song }}</h1>
            <h4>by
                {% for artist in artists %}
                    <a href="{{ url_for('rhythm.artist', name=artist) }}">
                    {{ artist }}
                    </a>
                    {% if loop.index0 < artists|length - 1 %}
                        &
                    {% endif %}
                {% endfor %}
            </h4>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <img src="{{ track_info["image"]["url"] }}" height="250px" width="250px">
    </div>
    <br><br><br><br>
    <div class="text-center">
            <h1>Statistics</h1>
    </div><br><br>
    <div class="row justify-content-center">
            {{ div|safe }}
            {{ script|safe }}
    </div>

{% endblock content %}