{% extends "layout.html" %}
{% block content %}
    <br><br>
    <div class="content-section row justify-content-center" style="background:white;">
        <div>
            <br>
            <div class="content-section row justify-content-center">
                <h1>Musiq</h1>
            </div>
            <div>
                <h4>Test your music skills!</h4>
                <p>{{ music }}</p>
            </div>
            <br>
            <div class="form-group row justify-content-center">
            <button type="button" class="btn btn-dark">PLAY</button>
            <br>
            </div><br><br>
        </div>
        <br>
    </div>

{% endblock content %}